@font-face {
  font-family: 'Cyberye';
  src: url('../src/assets/Cyberye.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

#root {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: black; 
  color: white; 
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

h1 {
  font-family: 'Cyberye', sans-serif;
  font-size: 70px;
  font-weight: 1000;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
  margin: 0;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 768px) {
  .video-background {
    height: 100vh;
  }

  .brand {
    position: relative;
    margin-top: 0;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  a {
    padding: 5px 10px;
  }
}


.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: black;
  overflow: hidden;
}

.fullscreen-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand h1 {
  cursor: pointer;
}

button:focus {
  outline: 2px solid black;
  box-shadow: none;  /* Remove this line if you don't want to override potential box-shadows */
}
